{ "openapi": "3.0.1", "info": { "title": "WRIS API", "version": "1.0" }, "servers": [{ "url": "https://indiawris.gov.in", "description": "Public Server" }], "paths": { "/Dataset/Wind Direction": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getWind", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Andhra Pradesh", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Kadapa", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-12-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-12-05", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Temperature": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getMTTemp", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Jharkhand", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Godda", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Jharkhand", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2021-12-11", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2025-02-14", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Suspended Sediment ": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getSediment", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Andhra Pradesh", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = CUDDAPAH", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2007-06-24", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2008-07-24", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Solar Radiation": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getSolarRadiation", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Tamil Nadu", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Chennai", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2019-02-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2019-02-02", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Soil Moisture": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getSoilMoistureByState", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = NRSC VIC MODEL", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/SnowFall": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getSnowFall", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Tamil Nadu", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Chennai", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2019-02-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2019-02-02", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/River Water Level": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getWaterLevel", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Karnataka", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Bagalkot", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2004-06-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2004-06-02", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/River Water Discharge": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getDischarge", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Andhra Pradesh", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Anantapur", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 1979-09-25", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-10-30", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Reservoir": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getreservoirsDataByState", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Relative Humidity": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getHumidity", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Odisha", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Baudh", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2020-06-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-11-30", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/RainFall": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getRainF", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Andhra Pradesh", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Kadapa", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-12-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-12-05", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Ground Water Level": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getGroundWaterLevel", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Odisha", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Baleshwar", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CGWB", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2023-11-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-10-31", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Evapo Transpiration": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getevapoTranspirationByState", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = NRSC VIC MODEL", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Wind Direction": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getWind_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = West flowing rivers of Kutch and Saurashtra including Luni", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Gondali", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Gujarat SW GW", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2021-01-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2021-01-30", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Temperature": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getMTTemp_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Krishna", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Ghatprabha", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Maharashtra SW", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2022-02-12", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2022-12-30", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Suspended Sediment ": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getSediment_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Cauvery", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Bhavani", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2020-08-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-03-09", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Solar Radiation": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getSolarRadiation_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Subernarekha", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Kharkai", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Jharkhand", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2003-03-06", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2004-04-24", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Soil Moisture": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getSoilMoistureByBasin", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = NRSC VIC MODEL", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/SnowFall": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getSnowFall_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Indus", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Bhaga", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 1998-01-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 1998-03-01", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/River WaterLevel": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getWaterLevel_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Brahmaputra", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Nao Dehing", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2019-07-22", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2019-08-01", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/River Water Discharge": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getDischarge_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Mahanadi", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Roul", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Odisha", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2000-01-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2021-11-30", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Reservoir": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getreservoirsDataByBasin", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = NRSC VIC MODEL", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Relative Humidity": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getHumidity_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Cauvery", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Chittar", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2017-06-01", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2025-02-20", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/RainFall": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getRainF_1", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Brahmaputra", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Nao Dehing", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2019-07-22", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2019-08-01", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Evapo Transpiration": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getevapoTranspirationByBasin", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = 0", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = NRSC VIC MODEL", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2024-02-02", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2024-02-03", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Basin/Atmospheric Pressure": { "post": { "tags": ["Data API Based On Basin Hierarchy"], "operationId": "getPressure", "parameters": [{ "name": "basinName", "in": "query", "description": "Example = Brahmaputra", "required": true, "schema": { "type": "string" } }, { "name": "tributaryName", "in": "query", "description": "Example = Siang", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = CWC", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2019-06-12", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2023-09-14", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } }, "/Dataset/Atmospheric Pressure": { "post": { "tags": ["Data API Based On Admin Hierarchy"], "operationId": "getPressure_1", "parameters": [{ "name": "stateName", "in": "query", "description": "Example = Telangana", "required": true, "schema": { "type": "string" } }, { "name": "districtName", "in": "query", "description": "Example = Nirmal", "required": true, "schema": { "type": "string" } }, { "name": "agencyName", "in": "query", "description": "Example = Telangana SW", "required": true, "schema": { "type": "string" } }, { "name": "startdate", "in": "query", "description": "Example = 2023-07-24", "required": true, "schema": { "type": "string" } }, { "name": "enddate", "in": "query", "description": "Example = 2025-02-17", "required": true, "schema": { "type": "string" } }, { "name": "download", "in": "query", "required": false, "schema": { "type": "boolean", "default": false } }, { "name": "page", "in": "query", "description": " Default Value '0'", "required": true, "schema": { "minimum": 0, "type": "integer", "format": "int32" } }, { "name": "size", "in": "query", "description": " Value must be greater than 1 and  maximum 1000 number of records to return", "required": true, "schema": { "maximum": 1000, "minimum": 1, "type": "integer", "format": "int32" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "application/xml": { "schema": { "$ref": "#/components/schemas/StatusHandler" } }, "text/csv": { "schema": { "$ref": "#/components/schemas/StatusHandler" } } } } } } } }, "components": { "schemas": { "StatusHandler": { "type": "object", "properties": { "statusCode": { "type": "integer", "format": "int32" }, "message": { "type": "string" }, "data": { "type": "object" } } } } } }
